@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size:16px;
}

.header-container{
    border-bottom: 0.8px solid rgba(128, 128, 128, 0.411);
    position:sticky;
    top:0;
}

.header-container{
    display: flex;
    justify-content:space-between ;
    width:100%;
    margin: 0px auto;
    padding:10px;
    height:auto;
    align-items: center;
    
}

.logo-image{
    display:flex;
}

.logo-image > p {
    padding: 5px;
    font-size:22px;
    font-weight: bold;
}

.logo-image > img{
    max-height: 30px;
    margin: 4px 10px;
}
.header-left{
    display:flex;
    justify-content: space-between;
    padding-left: 5px;
}


.nav-bar>ul{
    list-style: none;
    display: flex;
    margin: 10px 5px;
}



li a{
    padding: 0px 10px;
    color:black;
    text-decoration: none;
    font-weight: 600;
    color: #62636b;
    text-align: center;
}

li a:hover{
    color:black;
}

.header-right{
    display: flex;
    margin:0;
    align-items: center;
}

.header-right > img{
    height: 20px;
    margin: 1px 20px;

}

.signIn{
    min-width:80px;
    border-radius: 35px 35px 35px 35px;
    border-width: 0.4px;
    padding: 9px;
    font-weight: 300;
    color:white;
    background-color:#27272a;
    font-weight: bold;
    font-size:12px;
}

.middle-box{
    padding: 0px 10px;
    margin: 0px 150px;
}

.inner-content{
    /*background-color: gray;*/
    margin: 60px 100px 20px 100px;
    display: flex;
    padding: 0px 50px;
    justify-content: center;
    color:black;
    height:auto;
}

.main-heading{
    font-weight:700;
    font-size: 40px;
    padding: 0px 160px;
    margin-bottom: 25px;
    text-align:center;

}

.sub-heading{
    color:#62636b;
    padding: 0px 140px;
    line-height: 1.5;
    text-align:center;
    font-weight:400;
}

.color-picker{
    border: 1.5px solid rgba(99, 99, 99, 0.411);
    margin: 40px 100px 10px 100px;
    padding: 15px;
    border-radius: 35px 35px 35px 35px;
    display: flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
    align-items: center;
}

.right-side{
    display: flex;
    align-items: center;
    font-weight:500;
    font-size:12px;
}

.right-side >img{
    height:20px;
    margin:5px;
}

.color-chosen{
    width:28px;
    height:28px;
    background-color:#dc9eaa;
    border-radius: 50%;
}


.color-code{
    padding: 2px;
    margin:0px 10px;
    font-weight:600;
    color: #27272a;
}

.sub-heading2{
    display:flex;
    justify-content: space-between;
    padding:10px;
    margin:0px 150px;
    width: 80vw;
    color: #4d4d4f;
    font-size: 14px;
    font-weight: 500px;
}

.sub-heading-right ul{
    list-style: none;
    display: flex;
}

.sub-heading-right ul li{
    margin:0px 10px;
}

.grid-top{
    font-weight:bold;
}

.grid-container{
    display:flex;
    justify-content: center;    margin-top:40px auto;
    min-width:900px;
    gap:5px;
}

.grid-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 10px 10px 10px;
    font-size :8px;
    height:150px;
}

#a1{background-color: #fbf3f4;}
#a2{background-color: #f7e8eb;}
#a3{background-color: #efd5da;}
#a4{background-color: #dc9eaa;}
#a5{background-color: #c45f78;}
#a6{background-color: #ae4161;}
#a7{background-color: #923250;}
#a8{background-color: #7a2c47;}
#a9{background-color: #692842;}
#a10{background-color: #3a1120;}